<header>
    <a href="/">
        <h1>
            MOVIE MAGIC
        </h1>
    </a>
    <div>
        <form action="/search" method="GET">
            <img src="/magnifier.svg" alt="">
            <input type="text" name="term" value="<%= searchTerm %>">
            <input type="submit" value="Search">
        </form>

    </div>
</header>