<header>
    <a href="/">
        <h1>
            MOVIEMAGIC
        </h1>
    </a>
    <div>
        <img src="/magnifier.svg" alt="">
        <input type="text" name="searchInput" id="searchInput">
        <input type="button" value="Search"> 
    </div>
</header>