@font-face {
  font-family: Poppins;
  src: url("Poppins-Regular.ttf");
}
:root {
  --bg-color: #333;
  --bg-color-header: #4f4f4f;
  --text-color: #fff;
  --border-color: #666;
  --hover-text-color: #000;
  --hover-bg-color: #ccc;
  --img-bg-color: #000;
  --shadow-color: #222;
}
* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}
/* universal genre button style */
#genres li,
.genresRating li {
  border: 1.5px solid var(--border-color);
  border-radius: 15px;
  padding: 2px 7.5px;
  margin: 5px;
  transition: 0.2s;
}
#genres li:hover,
.active-genre-li {
  color: var(--hover-text-color);
  background-color: var(--hover-bg-color);
}
/* ==================== INDEX PAGE */
#genresSorting {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
}
#genresSorting h2 {
  display: flex;
  align-items: center;
  padding-right: 15px;
  white-space: nowrap;
}
#sorting {
  display: flex;
  align-items: center;
  padding: 3vh 5vw 0 1.25vw;
}
#sorting ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
#sorting li {
  margin: 2.5px;
}
#sorting li:hover {
  text-decoration: underline;
  cursor: pointer;
}
#genres {
  padding: 3vh 1.25vw 0 5vw;
}
#genres ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#moviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 5vw 2vh 5vw;
}
/* movie cards */
.movieCard {
  font-size: 1rem;
  width: 20vw;
  margin-bottom: 30px;
  text-align: center;
  transition: 0.2s;
}
.movieCard:hover {
  transform: scale(1.025);
}
.movieCard img {
  width: 100%;
  min-height: 80%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0 var(--shadow-color);
  transition: 0.2s;
}
.movieCard img:hover {
  box-shadow: 2.5px 2.5px 5px 0 var(--shadow-color);
}
.movieCard p {
  padding: 0 20px;
}
/* ==================== DETAILS PAGE */
.detailsMain h2 {
  font-size: 1.7rem;
}
.detailsMain {
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 0;
}
.detailsMain img {
  width: 100%;
  height: 75vh;
  object-fit: contain;
  background-color: var(--img-bg-color);
}
.titleRelease,
.genresRating,
.overview {
  padding: 2vh 5vw 2vh 5vw;
}
.titleRelease,
.genresRating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.genresRating li:first-of-type {
  margin-left: 0;
}
.genresRating ul {
  list-style: none;
  display: flex;
}
.overview {
  padding-bottom: 50px;
}
