<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Magic</title>
</head>

<body>
    <h2>
        <%= activePage %>
    </h2>
    <!-- show movies page 1 -->
    <% for (let i=activePage - 5; i>= activePage - 5 && i <= activePage + 5; i++) { %>
            <p>
                <%= movies[i].title %>
            </p>
            <% } %>
                <!-- pages navigation -->
                <% for (let i=activePage - 5; i>= activePage - 5 && i <= activePage + 5; i++) { %>
                        <a href="<%= i %>">
                            <%= i %>
                        </a>
                        <% } %>
</body>

</html>